#tiresult {
    transform-origin: center;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#tiresult {
    max-width: 100%;
}

#tiresult  {
    color: white;
    

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}